<div class='row'>
  <div class='medium-12 columns'>
    <h1>Log In</h1>
  </div>
</div>

<div class='row'>
  <div class='medium-6 columns'>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'button round' %>
    </div>
  <% end %>
  </div>


  <div class='medium-6 columns'>
    <h2>Dont have an account?</h2>
    
    <%= render "devise/shared/links" %>

    <br>

    <h3>Scrumness</h3>

    <div class='help-inset'>
      Login and check your projects scrumness.
    </div>
  </div>
</div>